---
const { background } = Astro.props
---

<div class='lg:max-w-4xl md:max-w-3xl sm:max-w-xl mx-auto p-2 group'>
  <div
    class={`flex justify-center items-center gap-2 rounded-lg p-3 shadow-xl backdrop-blur-2xl saturate-100 ${background}`}
  >
    <slot />
  </div>
</div>
