<div class='max-w-2xl mx-auto p-2 not-prose'>
  <div
    class='flex justify-center items-center gap-2 rounded-lg p-3 shadow-xl backdrop-blur-2xl bg-zinc-300/80 dark:bg-black/60'
  >
    <slot />
  </div>
</div>
