---
import SocialPill from '@/components/landing/SocialPill.astro'
import HomeIcon from '@/components/Icons/Home.astro'
import GitHubIcon from '@/components/Icons/GitHub.astro'
import Theme from '@/components/landing/Theme.jsx'
import ComponentIcon from '@/components/Icons/ComponentIcon.astro'
import Search from '@/components/landing/Search.jsx'
import DocumentationIcon from '@/components/Icons/Documentation.astro'
---

<header
  class='fixed top-0 z-10 w-full mx-auto shadow-lg backdrop-blur-sm border-gray-200 bg-neutral-400/5 dark:bg-white/5'
>
  <nav
    class='max-w-screen-3xl flex flex-wrap flex-col md:flex-row items-center justify-center md:justify-between mx-auto py-2 gap-y-2'
  >
    <div class='flex items-center px-6'>
      <a href='/' class='flex items-center transition hover:animate-tada'>
        <img src='/mictlan-logo.webp' class='h-8' alt='Mictlan Logo' />
        <span
          class='self-center text-2xl font-bold whitespace-nowrap text-black dark:text-white'
          >MictlanUI</span
        >
      </a>
      <span
        class='self-center px-3 text-2xl font-thin text-black dark:text-white'
        >v0.0.3</span
      >
    </div>

    <div
      class='flex flex-wrap md:flex-row items-center justify-center px-2 sm:px-6 text-base font-medium gap-x-4 gap-y-2'
    >
      <div class='flex items-center'>
        <Search client:load />
      </div>

      <a
        href='/'
        class='flex items-center justify-center gap-x-1 transition duration-300 hover:-translate-y-1 text-black dark:text-white/90 hover:text-[#0052D4] dark:hover:text-[#4364F7]'
      >
        <HomeIcon class='size-5' />
        Inicio
      </a>
      <a
        href='/overview/introduction'
        class='flex items-center justify-center gap-x-1 transition duration-300 hover:-translate-y-1 text-black dark:text-white/90 hover:text-[#0052D4] dark:hover:text-[#4364F7]'
      >
        <DocumentationIcon class='size-5' />
        Documentación
      </a>
      <a
        href='/components/accordion'
        class='flex items-center justify-center gap-x-1 transition duration-300 text-black dark:text-white/90 hover:text-[#0052D4] dark:hover:text-[#4364F7] hover:-translate-y-1'
      >
        <ComponentIcon class='size-5' />
        Componentes
      </a>
      <SocialPill
        href='https://github.com/BrayanRamirezB/mictlanui'
        class='transition text-black dark:text-white/90 hover:text-[#0052D4] dark:hover:text-[#4364F7]'
      >
        <GitHubIcon
          class='size-5 hover:scale-110 transition-transform duration-300 ease-in-out'
        />
      </SocialPill>
      <Theme client:only='react' />
    </div>
  </nav>
</header>
