---
import ComponentIcon from '@/components/Icons/ComponentIcon.astro'
import TsIcon from '@/components/Icons/TsIcon.astro'
import ReactIcon from '@/components/Icons/ReactIcon.astro'
import TailwindCSSIcon from '@/components/Icons/TailwindCSSIcon.astro'
---

<div class='flex flex-col text-left items-start gap-y-2 w-full m-auto'>
  <h2
    class='mb-4 px-2 text-3xl font-extrabold text-gray-800 dark:text-gray-300 md:text-4xl max-w-2xl'
  >
    Novedades de <span
      class='text-transparent bg-clip-text bg-gradient-to-r to-cyan-600 from-cyan-400'
      >MictlanUI v0.0.2</span
    >
  </h2>
</div>

<div
  class='grid grid-cols-[1fr] grid-rows-[repeat(3,1fr)] md:grid-cols-[repeat(3,1fr)] md:grid-rows-[repeat(2,1fr)] gap-4 justify-center content-center'
>
  <div
    class='cursor-default col-span-1 md:col-span-2 rounded-xl transition ease-in-out duration-300 hover:-translate-y-2 gap-y-4 px-4 py-2 flex flex-col items-center justify-center bg-gradient-to-tl from-cyan-400/80 to-cyan-600/80 dark:from-cyan-600/80 dark:to-cyan-800/80 backdrop-blur-md border-0 shadow-xl'
  >
    <h3
      class='font-bold text-2xl md:text-4xl text-center text-gray-800 dark:text-gray-200'
    >
      ¡Soporte para TypeScript!
    </h3>
    <p
      class='text-pretty font-normal text-md md:text-xl text-gray-700 dark:text-gray-300'
    >
      Uno de los más grandes avances en MictlanUI ha sido la integración con
      TypeScript de todos los componentes disponibles, lo que significa que
      ahora puedes utilizar MictlanUI en proyectos de React y TypeScript.
    </p>
  </div>
  <a
    href='/components/accordion'
    class='rounded-xl transition ease-in-out duration-300 hover:-translate-y-2 px-4 py-2 flex flex-col items-center justify-center gap-y-2 bg-gradient-to-tr from-cyan-400/80 to-cyan-600/80 dark:from-cyan-600/80 dark:to-cyan-800/80 backdrop-blur-md border-0 shadow-xl'
  >
    <span
      class='absolute -translate-y-10 md:-translate-y-18 inline-block animate-[spin_7s_linear_infinite] size-16 md:size-22 rounded-full bg-gradient-to-r from-emerald-500 via-indigo-500 to-sky-500 drop-shadow-lg'
    >
    </span>
    <span
      class='relative size-14 md:size-20 rounded-full bg-neutral-100/30 dark:bg-zinc-700/30 flex items-center justify-center backdrop-blur-sm'
    >
      <ComponentIcon
        class='size-14 md:size-14 text-gray-800 dark:text-gray-300'
      />
    </span>

    <h3
      class='font-bold text-center text-4xl md:text-7xl text-gray-800 dark:text-gray-200'
    >
      30
    </h3>
    <h4
      class='font-normal text-center text-md md:text-xl text-gray-700 dark:text-gray-300'
    >
      Componentes listos para usar.
    </h4>
  </a>
  <a
    href='/overview/getting-started'
    class='rounded-xl transition ease-in-out duration-300 hover:translate-y-2 px-4 py-2 gap-y-4 flex flex-col items-center justify-evenly bg-gradient-to-tr from-cyan-400/80 to-cyan-600/80 dark:from-cyan-600/80 dark:to-cyan-800/80 backdrop-blur-md border-0 shadow-xl'
  >
    <div class='flex flex-row items-center justify-center gap-x-6'>
      <div class='flex items-center justify-center'>
        <span
          class='absolute inline-block animate-[spin_7s_linear_infinite] size-16 rounded-full bg-gradient-to-r from-emerald-500 via-indigo-500 to-sky-500 shadow-xl'
        >
        </span>
        <span
          class='relative size-14 rounded-full bg-neutral-100/20 dark:bg-zinc-700/30 flex items-center justify-center backdrop-blur-sm'
        >
          <ReactIcon class='size-10' />
        </span>
      </div>
      <div class='flex items-center justify-center'>
        <span
          class='absolute inline-block animate-[spin_8s_linear_infinite] size-16 rounded-full bg-gradient-to-r from-sky-500 via-indigo-500 to-emerald-500 shadow-xl'
        >
        </span>
        <span
          class='relative size-14 rounded-full bg-neutral-100/20 dark:bg-zinc-700/30 flex items-center justify-center backdrop-blur-sm'
        >
          <TsIcon class='size-10' />
        </span>
      </div>
      <div class='flex items-center justify-center'>
        <span
          class='absolute inline-block animate-[spin_9s_linear_infinite] size-16 rounded-full bg-gradient-to-r from-emerald-500 via-indigo-500 to-sky-500 shadow-xl'
        >
        </span>
        <span
          class='relative size-14 rounded-full bg-neutral-100/20 dark:bg-zinc-700/30 flex items-center justify-center backdrop-blur-sm'
        >
          <TailwindCSSIcon class='size-10' />
        </span>
      </div>
    </div>
    <h3
      class='font-bold text-center text-2xl md:text-4xl text-gray-800 dark:text-gray-200'
    >
      Empezar ✨
    </h3>
  </a>
  <div
    class='cursor-default col-span-1 md:col-span-2 rounded-xl transition ease-in-out duration-300 hover:translate-y-2 px-4 py-2 flex flex-col gap-y-6 items-center justify-center bg-gradient-to-tl from-cyan-400/80 to-cyan-600/80 dark:from-cyan-600/80 dark:to-cyan-800/80 backdrop-blur-md border-0 shadow-xl'
  >
    <h3
      class='font-bold text-2xl md:text-4xl text-center text-gray-800 dark:text-gray-200'
    >
      ¡Actualización a TailwindCSS v4.0 🎉!
    </h3>
    <div
      class='flex flew-row flex-wrap lg:flex-nowrap items-center justify-center gap-x-2 gap-y-4'
    >
      <div
        class='flex px-2 py-1 rounded-lg bg-neutral-100/30 hover:bg-neutral-100/60 dark:bg-zinc-700/30 dark:hover:bg-zinc-700/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-300'
      >
        Default
      </div>
      <div
        class='flex px-2 py-1 rounded-lg bg-blue-500/40 hover:bg-blue-500/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-300'
      >
        Primary
      </div>
      <div
        class='flex px-2 py-1 rounded-lg bg-indigo-500/40 hover:bg-indigo-500/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-300'
      >
        Secondary
      </div>
      <div
        class='flex px-2 py-1 rounded-lg bg-green-500/40 hover:bg-green-500/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-300'
      >
        Success
      </div>
      <div
        class='flex px-2 py-1 rounded-lg bg-yellow-500/40 hover:bg-yellow-500/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-105 transition-transform ease-in-out duration-300'
      >
        Warning
      </div>
      <div
        class='flex px-2 py-1 rounded-lg bg-red-500/40 hover:bg-red-500/60 backdrop-blur-md border-0 shadow-lg hover:-translate-y-1 hover:scale-1105transition-transform ease-in-out duration-300'
      >
        Danger
      </div>
    </div>
  </div>
</div>
