---
import '@fontsource-variable/onest'
import { ClientRouter } from 'astro:transitions'
import Header from '@/sections/Header.astro'
import Footer from '@/sections/Footer.astro'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/webp' href='/mictlan-logo.webp' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='MictlanUI - UI minimalista y moderno para tus proyectos.'
    />
    <meta property='og:title' content='MictlanUI - UI minimalista y moderno' />
    <meta
      property='og:description'
      content='UI minimalista y moderno para tus proyectos.'
    />
    <meta property='og:image' content='/mictlan-logo.webp' />
    <meta property='og:url' content='https://mictlanuidev.netlify.app/' />
    <meta name='twitter:card' content='summary_large_image' />

    <script type='application/ld+json'>
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "MictlanUI",
        "url": "https://mictlanuidev.netlify.app/"
      }
    </script>
    <script>
      // Evitar el flash de tema claro al cargar la página
      ;(function () {
        const theme = localStorage.getItem('theme')
        const prefersDark = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        if (theme === 'dark' || (!theme && prefersDark)) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      })()
    </script>
    <title>MictlanUI</title>
    <ClientRouter />
  </head>
  <body class='relative text-black dark:text-white'>
    <div
      class='absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,78,146,0.5),rgba(15,12,41,0.2))]'
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import '@/styles/global.css';
  @config '../../tailwind.config.mjs';

  :root {
    color-scheme: light dark;
  }

  html {
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Onest Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  /* Ocultar la barra de scroll por defecto */
  .scrollbar-hidden::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0;
  }

  /* Mostrar la barra de scroll al pasar el mouse */
  .scrollbar-hidden:hover::-webkit-scrollbar {
    opacity: 1;
  }

  /* Opcional: Estilizar la barra de desplazamiento */
  .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: rgba(82, 83, 93, 0.4);
    border-radius: 4px;
  }

  .dark .scrollbar-hidden::-webkit-scrollbar-thumb {
    background-color: rgba(251, 250, 251, 0.4);
  }

  .scrollbar-hidden::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 24px; /* Ajusta el espacio desde arriba */
    margin-bottom: 10px; /* Opcional: espacio inferior */
  }

  pre.astro-code.github-dark {
    background-color: transparent !important;
  }

  span.line {
    white-space: pre-wrap;
  }

  pre {
    background-color: transparent !important;
  }

  code.language-jsx {
    background-color: transparent !important;
  }

  .custom-date-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  @layer base {
    button:not(:disabled),
    [role='button']:not(:disabled) {
      cursor: pointer;
    }
  }
</style>
